<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>profile_friend</string>
		<key>title</key>
		<string>我的好友</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
</array>
</plist>
