<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>profile_friend</string>
		<key>title</key>
		<string>我的好友</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>profile_question</string>
		<key>title</key>
		<string>我的问答</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>profile_impression</string>
		<key>title</key>
		<string>我的印象</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>profile_roommates</string>
		<key>title</key>
		<string>合租信息</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>profile_follow</string>
		<key>title</key>
		<string>关注</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>profile_setting</string>
		<key>title</key>
		<string>设置</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>profile_help</string>
		<key>title</key>
		<string>帮助</string>
		<key>badge</key>
		<integer>0</integer>
		<key>accessory</key>
		<true/>
	</dict>
</array>
</plist>
